<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item href="">
      <ion-icon id="topInfo" aria-hidden="true" name="arrow-back-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>User's name : </ion-label>
      <ion-label>{{userDetails.firstname}}{{userDetails.lastname}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email : </ion-label>
      <ion-label>{{userDetails.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>User's dogs : </ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item *ngFor="let dog of usersDogs">
      <ion-label></ion-label>
      <ion-label>{{dog.name}}</ion-label>
    </ion-item>