<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css" />


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment value="default">
    <ion-segment-button value="default" routerLink="./walkers">
      <ion-label>Walkers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="walks" routerLink="./walks">
      <ion-label>Walks</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="leaflet-map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers"
    (leafletMapReady)="onMapReady($event)"></div>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-content>
