<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="contenuPage">
  <h1>DogWalk</h1>
  <ion-item>
    <ion-input label="email" type="email" placeholder="johndoe@gmail.com"></ion-input>
    <ion-input label="Password input" type="password" placeholder="password"></ion-input>
  </ion-item>
  <div id="bouttons">
    <ion-button>Envoyer</ion-button>
    <br/>
    <a href="http://localhost:8100/register">
    <ion-button color="light">Register</ion-button>
    </a>
  </div>
</div>
</ion-content>