<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create a walk</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div class="leaflet-map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers"
    (leafletMapReady)="onMapReady($event)"></div>

  <ion-list>
    <ion-item>
      <ion-label>Departure time</ion-label>
      <ion-note slot="end">{{heure}}h{{minute}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Distance traveled</ion-label>
      <ion-note slot="end">xxx</ion-note>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button color="danger" (click)="setOpen(true)">Stop recording</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content class="ion-padding">
        <p>
          Are you sure you want to stop the recording of your route ?
        </p>

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button expand="block" (click)="setOpen(false)">Not sure</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button color="danger" href="./createawalk" (click)="setOpen(false)">Yes, stop it</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
