<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map" href="/map">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dogs" href="/dogs">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Dogs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
