<ion-content>
  <h1>Walk details</h1>
  <ion-list>
    <ion-item>
      <ion-label>
        Title
      </ion-label>
      <ion-note slot="end">{{walk.title}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        Length
      </ion-label>
      <ion-note slot="end">XXX</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        Creator
      </ion-label>
      <ion-note slot="end">{{user.firstname}} {{user.lastname}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        Current walkers
      </ion-label>
      <ion-note slot="end">XXX</ion-note>
    </ion-item>
  </ion-list>

  <ion-button>Add Walk</ion-button>

</ion-content>
