<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Update {{existingDog.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item href="./dogs/{{existingDog._id}}">
      <ion-icon id="topInfo" aria-hidden="true" name="arrow-left" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="dogName" label="Dog name" type="text" value="{{existingDog.name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="dogBirthdate" label="Birthdate" type="text" value="{{existingDog.birthdate}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="dogBreed" label="Breed" type="text" value="{{existingDog.breed}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="dogPicture" label="Picture" type="text" value="{{existingDog.picture}}"></ion-input>
    </ion-item>
    <ion-button (click)="saveAndRedirect()">UPDATE THIS DOG</ion-button>
  </ion-list>
</ion-content>