<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
      <!-- Username input -->
      <ion-input
        label="Email"
        labelPlacement="floating"
        inputmode="text"
        #username="ngModel"
        required="true"
        name="username"
        [(ngModel)]="authRequest.username"
      ></ion-input>
      <!-- Error message displayed if the username is invalid -->
      <ion-text color="danger" *ngIf="username.invalid && username.touched"
        >Username is required.</ion-text
      >
  
      <!-- Password input -->
      <ion-input
        label="Password"
        labelPlacement="floating"
        inputmode="text"
        #password="ngModel"
        required="true"
        type="password"
        name="password"
        [(ngModel)]="authRequest.password"
      ></ion-input>
  
      <!-- Error message displayed if the password is invalid -->
      <ion-text color="danger" *ngIf="password.invalid && password.touched"
        >Password is required.</ion-text
      >
  
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid"
        >Log in</ion-button
      >
  
      <!-- Error message displayed if the login failed -->
      <ion-text color="danger" *ngIf="loginError"
        >Email or password is invalid.</ion-text
      >
    </form>
    <ion-button href="/register" color="light">REGISTER</ion-button>
  </div>
</ion-content>
