<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create a walk</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div class="leaflet-map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers"
    (leafletMapReady)="onMapReady($event)"></div>

  <ion-list>
    <ion-item>
      <ion-label>Departure time</ion-label>
      <ion-note slot="end">{{departureHours}}h{{departureMinutes}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Distance traveled</ion-label>
      <ion-note slot="end">{{distanceTraveled}} m</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Departure time</ion-label>
      <ion-note slot="end">{{hours}}h{{minutes}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="inputValue" label="Walk name" placeholder="Wonderful Walk"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button [disabled]="inputValue.length <= 1">Save the walk</ion-button>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button color="danger" class="center" (click)="setOpen(true)">Delete the walk</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content class="ion-padding">
        <p>
          Are you sure you want to delete your walk ?
        </p>

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button expand="block" (click)="setOpen(false)">Oh no, my bad</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button color="danger" href="../maps/walks/walks" (click)="setOpen(false)">Goodbye walk !</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
