<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content>
    <ion-item>
      <ion-label>Personal information</ion-label>
      <ion-icon aria-hidden="true" name="pencil-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label aria-hidden="true" name="firstname" slot="start" position="floating">First Name</ion-label>
        <ion-input slot="end" type="text" value="John" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label aria-hidden="true" name="lastname" slot="start" position="floating">Last Name</ion-label>
        <ion-input slot="end" type="text" value="Doe" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label aria-hidden="true" name="email" slot="start" position="floating">Email</ion-label>
        <ion-input slot="end" type="email" value="John@Doe" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label aria-hidden="true" name="password" slot="start" position="floating">Password</ion-label>
        <ion-input slot="end" type="password" value="JohnDoe" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label aria-hidden="true" name="birthdate" slot="start" position="floating">Birthdate</ion-label>
        <ion-input slot="end" type="date" value="1.1.1" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label aria-hidden="true" name="profilepicture" slot="start" position="floating">Profile picture</ion-label>
        <ion-avatar slot="end">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>