<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="topInfo">
    <h1>Personal informations</h1>
    <ion-icon name="pencil-outline"></ion-icon>
  </div>
  <form #registerForm="ngForm" (submit)="displayJSON(registerForm)">
    <!-- Champs firstname -->
    <ion-input label="First name" type="text" name="firstname" [(ngModel)]="firstname" placeholder="John" min-length="3" max-length="50" required #firstnameInput="ngModel"></ion-input>
    <!-- erreur firstname -->
    <p *ngIf="firstnameInput.hasError('required') && firstnameInput.dirty">
      First name is required
    </p>

    <p *ngIf="firstnameInput.hasError('min-length') && firstnameInput.dirty || firstnameInput.hasError('max-length') && firstnameInput.dirty">
      Your first name must be between 4 and 50 characters
    </p>

    <!-- Champs lastname -->
    <ion-input label="Last name" type="text" name="lastname" [(ngModel)]="lastname" placeholder="Doe" min-length="3" max-length="50" required #lastnameInput="ngModel"></ion-input>
    <!-- erreur lastname -->
    <p *ngIf="lastnameInput.hasError('required') && lastnameInput.dirty">
      Last name is required
    </p>

    <p *ngIf="lastnameInput.hasError('min-length') && lastnameInput.dirty || lastnameInput.hasError('max-length') && lastnameInput.dirty">
      Your first name must be between 4 and 50 characters
    </p>

    <!-- Champs email -->
    <ion-input label="Email" type="email" name="email" [(ngModel)]="email" placeholder="johndoe@gmail.com" required #emailInput="ngModel"></ion-input>
    <!-- erreur email -->
    <p *ngIf="emailInput.hasError('required') && emailInput.dirty">
      Email is required
    </p>

    <!-- Champs password -->
    <ion-input label="Password" type="password" name="password" [(ngModel)]="password" placeholder="password" required #passwordInput="ngModel"></ion-input>
    <!-- erreur password -->
    <p *ngIf="passwordInput.hasError('required') && passwordInput.dirty">
      Password is required
    </p>

    <!-- Champs birthdate -->
    <ion-input label="Birthdate" type="date" name="birthdate" [(ngModel)]="birthdate" required #birthdateInput="ngModel"></ion-input>
    <!-- erreur birthdate -->
    <p *ngIf="birthdateInput.hasError('required') && birthdateInput.dirty">
      Birthdate is required
    </p>

    <ion-button [disabled]="registerForm.invalid" type="submit">Modify Informations</ion-button>
  </form>
  <!-- Logout button -->
  <ion-button (click)="logOut()" color="danger">LOG OUT
  </ion-button>
</ion-content>