<ion-list>
  <ion-item>
    <ion-label>Your dog's name</ion-label>
    <ion-icon id="topInfo" aria-hidden="true" name="pencil-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input label="Birthdate" type="date" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Breed" type="texte" placeholder="Jack Russel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Picture" type="texte" placeholder="Jack Russel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon id="topInfo" aria-hidden="true" name="trash-bin" slot="end"></ion-icon>
  </ion-item>
</ion-list>