<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DogWalk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <a href="/login">
    <ion-icon name="arrow-back-outline" id="back"></ion-icon>
  </a>
  <div id="contenuPage">
    <form #registerForm="ngForm" (submit)="saveAndRedirect(registerForm)">
      <!-- Champs firstname -->
      <ion-input label="First name" type="text" name="firstname" [(ngModel)]="firstname" placeholder="John" minlength="3" maxlength="50" required #firstnameInput="ngModel"></ion-input>
      <!-- erreur firstname -->
      <p *ngIf="firstnameInput.hasError('required') && firstnameInput.dirty">
        First name is required
      </p>

      <p *ngIf="firstnameInput.hasError('minlength') && firstnameInput.dirty || firstnameInput.hasError('maxlength') && firstnameInput.dirty">
        Your first name must be between 3 and 50 characters
      </p>

      <!-- Champs lastname -->
      <ion-input label="Last name" type="text" name="lastname" [(ngModel)]="lastname" placeholder="Doe" minlength="3" maxlength="50" required #lastnameInput="ngModel"></ion-input>
      <!-- erreur lastname -->
      <p *ngIf="lastnameInput.hasError('required') && lastnameInput.dirty">
        Last name is required
      </p>

      <p *ngIf="lastnameInput.hasError('minlength') && lastnameInput.dirty || lastnameInput.hasError('maxlength') && lastnameInput.dirty">
        Your first name must be between 3 and 50 characters
      </p>

      <!-- Champs email -->
      <ion-input label="Email" type="email" name="email" [(ngModel)]="email" placeholder="johndoe@gmail.com" required #emailInput="ngModel"></ion-input>
      <!-- erreur email -->
      <p *ngIf="emailInput.hasError('required') && emailInput.dirty">
        Email is required
      </p>
      <p *ngIf="emailInput.hasError('type') && emailInput.dirty">
        You must type an email
      </p>

      <!-- Champs password -->
      <ion-input label="Password" type="password" name="password" [(ngModel)]="password" placeholder="password" required #passwordInput="ngModel" minlength="8"></ion-input>
      <!-- erreur password -->
      <p *ngIf="passwordInput.hasError('required') && passwordInput.dirty">
        Password is required
      </p>

      <p *ngIf="passwordInput.hasError('minlength') && passwordInput.dirty || passwordInput.hasError('maxlength') && passwordInput.dirty">
        Your password must be at least 8 characters
      </p>

      <!-- Champs birthdate -->
      <ion-input label="Birthdate" type="date" name="birthdate" [(ngModel)]="birthdate" required #birthdateInput="ngModel"></ion-input>
      <!-- erreur birthdate -->
      <p *ngIf="birthdateInput.hasError('required') && birthdateInput.dirty">
        Birthdate is required
      </p>

      <ion-button [disabled]="registerForm.invalid" type="submit">CREATE ACCOUNT</ion-button>
    </form>
</div>
</ion-content>
