#contenuPage{
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ion-toolbar {
    text-align: center;
}

ion-item {
    width: 260px;
}

ion-input{
    margin-top: 35px;
}

ion-button {
    margin-top: 35px;
    height:2.5rem;
}

#bouttons {
    text-align: center;
}

#back {
    margin: 1rem;
    height: 2rem;
    width: 2rem;
}