<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <a href="http://localhost:8100/login">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </a>
  <ion-item>
    <ion-input label="First name" placeholder="John"></ion-input>
    <ion-input label="Last name" placeholder="Doe"></ion-input>
    <ion-input label="email" type="email" placeholder="johndoe@gmail.com"></ion-input>
    <ion-input label="Password" type="password" placeholder="password"></ion-input>
    <ion-input label="Birthdate" type="date" placeholder="password"></ion-input>
  </ion-item>
  <ion-button>CREATE ACCOUNT</ion-button>
</ion-content>
