<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DogWalk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <a href="/login">
    <ion-icon name="arrow-back-outline" id="back"></ion-icon>
  </a>
  <div id="contenuPage">
    <form (submit)="displayGreeting()">
    <ion-input label="First name" type="text" name="firstname" [(ngModel)]="firstname" placeholder="John" required></ion-input>
    <ion-input label="Last name" type="text" name="lastname" [(ngModel)]="lastname" placeholder="Doe" required></ion-input>
    <ion-input label="Email" type="email" name="email" [(ngModel)]="email" placeholder="johndoe@gmail.com" required></ion-input>
    <ion-input label="Password" type="password" name="password" [(ngModel)]="password" placeholder="password" required></ion-input>
    <ion-input label="Birthdate" type="date" name="birthdate" [(ngModel)]="birthdate" required></ion-input>
    <ion-button type="submit">CREATE ACCOUNT</ion-button>
    </form>
</div>
</ion-content>
